.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.column {
    margin: 10px;
}

.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

mat-slider {
    width: 300PX;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .column {
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .column {
        width: 50%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .column {
        width: 30%;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .column {
        width: 30%;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .column {
        width: 20%;
    }
}